<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    This is your student home page. You may able to do the following:
    <ul>
      <li>View your schedule</li>
      <li>View your grades</li>
      <li>View your attendance</li>
      <li>View your assignments</li>
      <li>View your teachers</li>
      <li>Enroll new classes</li>
      <li>Check Invoices</li>
    </ul>
    <a href="/student/logout">LOG OUT</a>
  <% } else { %>

  <%}%>
</body>
</html>