<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <% if (user) {%>
    <!-- <h1>WELCOME BACK <%= user.username %></h1>
    Well you dont really have to log in again, perhaps you can just go back to the <a href="/studenthome">student home page</a>.
    Or you may log out <a href="/student/logout">here</a>. -->
  <% } else { %>
    <%= message %>
    <h1>please log in</h1>
    <form action="/student/login" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/student/register">Or you may want to register here</a>
  <%}%>
</body>
</html>