<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tangram - Student Login</title>
  <style>
    body{
      font: 20px Futura, sans-serif;
      text-align: center;
      margin: 20vh 10% 0px 10%;
    }
    h1{
      font: 30px Futura, sans-serif;
      font-weight: bold;
    }
    h2{
      font: 25px Futura, sans-serif;
      font-weight: normal;
    }
    button{
      border-radius: 10px;
      border-width: 1px;
      padding: 5px 10px;
      background-color: #A62418;
      color: white;
    }
    button:hover{
      background-color: #E6B553;
      color: #A62418;
      transition: 0.5s;
    }
    input,button{
      font: 20px Futura, sans-serif;
      margin: 5px;
    }
  </style>
</head>
<body>
  <h1>
    Student Login
    <!-- <%= title %> -->
  </h1>
  <% if (user) {%>
    <!-- <h1>WELCOME BACK <%= user.username %></h1>
    Well you dont really have to log in again, perhaps you can just go back to the <a href="/studenthome">student home page</a>.
    Or you may log out <a href="/student/logout">here</a>. -->
  <% } else { %>
    <%= message %>
    <form action="/student/login" method="POST">
      <input name="username" placeholder="Username" type="text" />
      <br>
      <input name="password" type="password" placeholder="Password"/>
      <br>
      <button type="submit">&nbsp;&nbsp;&nbsp;Log In&nbsp;&nbsp;&nbsp;</button>
    </form>
    <a href="/student/register">Register a student account</a>
    <br>
    <a href="#">Forgot Password?</a>
  <%}%>
</body>
</html>