<html>
    <head>
        <script>
            function createUsername(){
                let first = document.querySelector("#first").value
                let last = document.querySelector("#last").value
                if(first == "" || last == ""){
                    alert("Please complete name section before generating a username")
                }else if(!isAllLetters(first + last)){
                    alert("Name cannot contain numbers or symbols, please try again")
                }else{
                    let username = last + first
                    username = username.toLowerCase()
                    document.querySelector("#username").value = username
                }
                document.querySelector("#register-btn").disabled = false
            }
            function isAllLetters(inputtxt){
                var letters = /^[A-Za-z]+$/
                if(inputtxt.match(letters)){
                    return true;
                }else{
                    return false;
                }
            }
            function test(){
                password = document.querySelector("#password").value
                if (password.length < 8){
                    alert("Please choose a password longer than 8 characters")
                }
            }
        </script>
        <style>
            body{
                font: 20px Futura, sans-serif;
                text-align: center;
                margin: 20vh 10% 0px 10%;
            }
            h1{
                font: 30px Futura, sans-serif;
                font-weight: bold;
            }
            h2{
                font: 25px Futura, sans-serif;
                font-weight: normal;
            }
            #all{
                display: grid;
                grid-template-columns: 1fr 2fr;
                width: 675px;
                margin: 0px auto 0px auto;
            }
            input,button{
                font: 20px Futura, sans-serif;
                margin: 5px;
            }
            button{
                border-radius: 10px;
                border-width: 1px;
                padding: 5px 10px;
                background-color: #A62418;
                color: white;
            }
            button:hover{
                background-color: #E6B553;
                color: #A62418;
                transition: 0.5s;
            }
            button:disabled{
                background-color: #580E04;
                color: grey;
            }
        </style>
    </head>
    <body>
        <h1>
            Student Account Registration
            <!-- <%= title %> -->
            <!-- I changed the title in studetController.js but the title here didn't change? -->
        </h1>
        <!-- <h2>
            This page is connected to the database. Once you register, your information will be stored in the database.
            And a success message will be displayed, along with your username and password.
            Be aware, your password will be stored in plain text, as this is just a demo.
        </h2> -->
        <div id="all">
            <div id="information">
                <p>
                    Please remember your username and choose a password with a minimum of 8 letters
                </p>
            </div>
            <div id="registration">
                <p>
                    Name Information
                </p>
                <form>
                    <input type="text" name="last-name" id="last" placeholder="Last name (姓)">
                    <br>
                    <input type="text" name="first-name" id="first" placeholder="First name (名)">
                    <br>
                    <button type="button" onclick="createUsername()">Create Username</button>
                </form>
                <p>
                    Login Information
                </p>
                <form action = '/student/register' method="post">
                    <input type="text" name="username" id="username" placeholder="Username" readonly> 
                    <br>
                    <input type="password" name="password" id="password" placeholder="Password"> 
                    <br>
                    <button type="button" onclick="test()">test</button>
                    <button type="submit" id="register-btn" disabled>Register Account</button>
                </form>
            </div>
        </div>
        <hr/>
        <h2>
            This is all student information stored in the database.
        </h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
            <% for (let i = 0; i < userInfo.length; i++) { %>
                <tr>
                    <td><%= userInfo[i].username %></td>
                    <td><%= userInfo[i].password %></td>
                </tr>
            <% } %>
        </table>
        <a href="/student">Back to sign in page</a>
    </body>
</html>