<!-- navbar.ejs -->
<nav>
    <ul>
      <% for (let i = 0; i < links.length; i++) { %>
        <li>
          <a href="<%= links[i].url %>">
            <span> <%= links[i].name %> </span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>